@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Karla", "sans-serif";
    background-color: rgb(200, 207, 210);
    color: blanchedalmond;
}